*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #CAE0DC;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  font-weight: lighter;
}

h1{
  margin-top: 130px;
  padding: 20px;
  font-size: 35px;
  font-weight: bold;
  color:#CAE0DC;
  text-align: center;
}

h2{
  padding: 10px;
  font-size: 18px;
  font-weight: lighter;
  color:#CAE0DC;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
}

/* LOG IN */
.container{
    @media screen and (max-width: 600px)
   position: relative;
   margin-top: 100px;
   width: 450px;
   height: auto;
   border-radius: 5px;
}
.label{
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
  color:#52918B;
}

.login_form{
  padding: 20px 40px;
}

.login_form .font{
  font-size: 18px;
  color: white;
  margin: 5px 0px;
}

.login_form input{
   height: 40px;
   width: 350px;
   padding: 0 5px;
   font-size:18px;
   outline: none;
   border: 1px solid #52918B;
   color: white;
   background-color: #52918B;
}

.login_form .font2{
  margin-top: 30px;
}

.login_form button{
  margin: 45px 0px 30px 0px;
  height: 44px;
  width: 135px;
  font-size: 20px;
  background-color: #FA9148;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: lighter;
  border: none;
  border-radius: 33px;
}

.login_form #fornavn_error,
.login_form #kode_error{
  margin-top: 5px;
  width: 345px;
  font-size: 18px;
  color: #FA9148;
  background: #FF5E49;
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #FA9148;
  display: none;
}

/* POST 4 */
#drag{
  display: block;
}
.drag_txt {
  padding: 10px;
  color:#CAE0DC;
  text-align: center;
}

.drag_container {
  @media screen and (max-width: 600px)
  position: relative;
  background-color: #52918B;
  margin: 25px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.draggable {
  padding: 10px;
  background-color: #CAE0DC;
  cursor: move;
  margin-bottom: 10px;
}

.draggable_container {
  @media screen and (max-width: 600px)
  position: relative;
  margin: 25px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.draggable.dragging {
  opacity: .5;
}

/* QUIZ */
.quiz_container {
  /* Max-width 100% gør den responsiv, men er den nødvendig? */
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
  background-color: #CAE0DC;
}

.nextbutton {
  height: 44px;
  width: 135px;
  font-size: 20px;
  background-color: #FA9148;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: lighter;
  border: none;
  border-radius: 33px;
  margin:auto;
  display:block;
  margin-top: 50px;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.previous {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/*dots*/
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #52918B;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #FF5E49;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}