*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #CAE0DC;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  font-weight: lighter;
}

h1{
  margin-top: 0px;
  padding: 20px;
  font-size: 35px;
  font-weight: bold;
  color:#CAE0DC;
  text-align: center;
}

h2{
  padding: 10px;
  font-size: 18px;
  font-weight: lighter;
  color:#CAE0DC;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
}

/* POST 4 */
#drag{
  display: flex;
  flex-direction: column;
}
.drag_txt {
  padding: 10px;
  color:#CAE0DC;
  text-align: center;
}

.drag_container {
  position: relative;
  background-color: #52918B;
  margin: 25px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.draggable {
  padding: 10px;
  background-color: #CAE0DC;
  cursor: move;
  margin-bottom: 10px;
}

.draggable_container {
  position: relative;
  margin: 25px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.draggable.dragging {
  opacity: .5;
}

/* QUIZ */
.quiz_container {
  /* Max-width 100% gør den responsiv, men er den nødvendig? */
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
  background-color: #CAE0DC;
}

.nextbutton {
  height: 44px;
  width: 135px;
  font-size: 20px;
  background-color: #FA9148;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: lighter;
  border: none;
  border-radius: 33px;
  margin:auto;
  display:block;
  margin-top: 50px;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.previous {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/*dots*/
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #52918B;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #FF5E49;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* credts: Mateusz Rybczonek -  https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/*/

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TIMER */
/* Her sætter jeg min containers højde og bredde */
.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__svg {
  transform: scaleX(-1);
}
/* Her fjerner jeg cirklens fill samt stroke - så man kan komme til at se tiden */
.base-timer__circle {
  fill: none;
  stroke: none;
}
/* Her bestemmer jeg tykkelsen samt farven på min nederste cirkel*/
.base-timer__path-elapsed {
  stroke-width: 8px;
  stroke: #52918B;
}

.base-timer__path-remaining {
  stroke-width: 8px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.orange {
  color: #FA9148;
}

/* Her styler jeg teksten så den passer i cirklen - her er størrelsen lige så stor som parent containeren - og lablet er alignet til toppen og så er indholdet centreret med en flexbox*/
.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
