
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 15px;
}
h2{
  font-weight: 700;
  font-size: 40px;
}
.header-s{
  font-weight: 700;
}
.vertical-menu {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.vertical-menu a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.vertical-menu a.active {
  background-color: #52918B;
  color: white;
}

.vertical-menu a:hover:not(.active) {
  background-color: #52918B;
  color: white;
}

div.main {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.wrapper{
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}


.wrapper .left-side{
  padding: 20px 16px;
  box-shadow: 2px 2px 29px -12px rgba(0,0,0,0.75);
  width: 50%;
}
.wrapper .right-side{
  margin-left: 20px;
  padding: 20px 16px;

  box-shadow: 2px 2px 29px -12px rgba(0,0,0,0.75);
}

/* Knapper */
button{
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  background-color: #ccc;
  color: white;
}
/* Log in */
input{
  margin-left: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Ikoner */
.icons {
  border-collapse: collapse;
  width: 100%;
}

.icons td, .icons th {
  border: 1px solid #ccc;
  padding: 8px;
}

.icons tr:hover {
  background-color: #f1f1f1;
}

.icons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #52918B;
  color: white;
}

/* Farver */
div.main-color {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding: 1rem;
}

.wrapper-color{
  padding-top: 10px;
  padding-bottom: 30px;
  height: 100%;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 250px;
}

.container {
  padding: 2px 16px;
}

.color_gn1{
  height: 25%;
  background-color: #DEF0ED;
}

.color_gn2 {
  height: 25%;
  background-color: #52918B;
}

.color_gn3 {
  height: 25%;
  background-color: #08544A;
}

.color_accessibility {
  height: 25%;
  background-color: #FA9148;
}

.color_error {
  height: 25%;
  background-color: #1F1F1E;
}

.color_warning {
  height: 25%;
  background-color: #FF5E49;
}

/* responsiv */
@media screen and (max-width: 750px) {
  .vertical-menu {
    width: 100%;
    height: auto;
    position: relative;
  }
  .vertical-menu a {
    float: left;
  }
  div.main {
    margin-left: 0;
  }
  div.main-color {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .vertical-menu a {
    text-align: center;
    float: none;
  }
}

/* Billeder ide https://www.youtube.com/watch?v=XhNMwxXcKQM*/
.img-gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding: 1rem;
}

.box img{
  background-color: #ccc;
  min-height: 140px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
