body {
    background-color: #08544A;
}

.quiz_container {
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 130px;
    font-size: 35px;
    font-weight: bold;
    color: #CAE0DC;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: lighter;
    color: #CAE0DC;
    text-align: center;
}

.svar_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 30px;
}

button {
    border: none;
    padding: 15px;
    margin-bottom: 14px;
    margin-top: 14px;
    font-size: 16px;
    font-weight: lighter;
    color: #08544A;
    background-color:#CAE0DC;
}

button:focus {
    color: #08544A;
}
