body {
    margin: 0;
    width: 100vw;
      height: 100vh;
    position: relative;
    background-color: #DEF0ED;
  }
  
  canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .title {
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100vh;
  
    font-family: 'Helvetica';
    line-height: 100vh;
    text-transform: uppercase;
    font-weight: lighter;
    color: #ccc;
    text-align: center;
  }




.podie img {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}