body{
  background-color: #08544A;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TIMER */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* Her sætter jeg min containers højde og bredde */
.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__svg {
  transform: scaleX(-1);
}
/* Her fjerner jeg cirklens fill samt stroke - så man kan komme til at se tiden */
.base-timer__circle {
  fill: none;
  stroke: none;
}
/* Her bestemmer jeg tykkelsen samt farven på min nederste cirkel*/
.base-timer__path-elapsed {
  stroke-width: 8px;
  stroke: #52918B;
}

.base-timer__path-remaining {
  stroke-width: 8px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.orange {
  color: #FA9148;
}

/* Her styler jeg teksten så den passer i cirklen - her er størrelsen lige så stor som parent containeren - og lablet er alignet til toppen og så er indholdet centreret med en flexbox*/
.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
